<div class="toolbar"></div>
<div class="exercises">
  <div class="header">
    <div class="index">#</div>
    <div class="name">NAZIV</div>
    <div class="type">TIP</div>
  </div>
</div>
<div class="exercises" [style.height.px]="height">
  <div *ngFor="let exercise of exercises; index as i" class="exercise">
    <div class="index">{{ i + 1 }}</div>
    <div class="name">{{ exercise.name }}</div>
    <div class="type">
      {{
        (exercise.type
          ? exercise.type === "isolated"
            ? "Izolirana"
            : "Kompleksna"
          : ""
        ) | uppercase
      }}
    </div>
  </div>
</div>
<div class="separator"></div>
